<ion-view view-title="About this App">
  <div class="list card">
    <div class="item item-text-wrap">
      <p>
        <h3>"Build something that should exist, not something that just could exist."</h3>
      <p>

      <p>
        With an abundance of things to make, why spend your time working on anything
        except only the things that need to exist?
        <br/>
        <br/>
      </p>

      <p>
        If you have come across this site, I would love your help in discovering
        which one of my ideas should exist. Vote on ideas you see on this site that
        you would like to see exist in the world. You can vote as many times as you want.
        <br/>
        <br/>
      </p>
      <p>
        If you get inspired to share your own ideas that you feel should exist, you can even
        <a href="#" ui-sref="createTodo">add your ideas</a>.
        <br/>
        <br/>
      </p>
      <p>
        <h5>
        This App is created and maintained by <a href="http://www.rutuldave.com">Rutul Davé</a>. The
        code is available on GitHub <a href="https://github.com/stockandawe/MyIdeaList">here</a>.
        </h5>
      </p>
    </div>
  </div>

</ion-view>
