<ion-header-bar class="bar-positive">
    <h1 class="title">Rutul's Idea List</h1>
    <div class="buttons">
      <button class="button button-clear" ui-sref="aboutTodo">About</button>
    </div>
</ion-header-bar>

<ion-content>
    <ion-list>
        <ion-item class="item-icon-right"
                  ng-repeat="item in items | orderBy: '-votes'"
                  type="item-text-wrap"
                  item="item"
                  href="#/todo/show/{{item.objectId}}">
            <h2>{{item.title}}</h2>
            <p class="subdued">
              <ng-pluralize count="item.votes"
                when="{'0': 'No votes',
                       'one': '1 vote',
                       'other': '{} votes'}">
              </ng-pluralize>
            </p>
            <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
    </ion-list>
</ion-content>
